<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Tell us about the new team!</h1>
      <form method="POST" action="/team">
        <p><label>Team Name: <input type="text" name="name"></label></p>
        <p><label>Coach: <input type="text" name="coach"></label></p>
        <p><label>Point Guard: <input type="text" name="pg"></label></p>
        <p><label>Shooting Guard: <input type="text" name="sg"></label></p>
        <p><label>Small Forward: <input type="text" name="sf"></label></p>
        <p><label>Power Forward: <input type="text" name="pf"></label></p>
        <p><label>Center: <input type="text" name="c"></label></p>
      <input type="submit" id="Submit" />
    </form>
 </body>
</html>


