<div class="card-header h3">
  Create a New Event
</div>
<div class="card body container-fluid">

  <%= render 'form', event: @event %>

  <p><%= link_to "Back to All Events", events_path, class: "btn btn-primary" %></p>
</div>