<div class="card">
  <div class="card-header h3">
    Past Events
  </div>
  <div class="card body container-fluid">

    <ul>
      <% @events.each do |event| %>
      <li><%= link_to event.name, event_path(event) %></li>
      <% end %>
    </ul>

    <p><%= link_to "Back to All Events", events_path, class: "btn btn-primary" %></p>
  </div>
</div>