.event {
  dt {
    font-weight: bold;
    text-align: left;
    width: 150px;
  }
  dd {
    font-weight: normal;
    margin-left: 10px;
  }
  .subset {
    dt {
      margin-left: 10px;
    }
    dd {
    }
    dd,
    dt {
      font-weight: 200;
    }
  }
}
