/* table debug */
.data {
  background-color: #ff3300;
}
.data table {
  background-color: #ff6600;
}
.data tr {
  background-color: #ff9900;
}
.data th {
  background-color: #ffcc00;
}
.data td {
  background-color: #ffff00;
}
