<h1>Songs#show</h1>

<ul>
  <li><strong>Title</strong>: <%= @song.title %></li>
  <li><strong>Title</strong>: <%= @song.artist.name %></li>
  <li><strong>Title</strong>: <%= @song.genre.name %></li>
</ul>